.hero-unit
  %h1 Code for America Wrappers
  %p List of our government API wrappers and libraries on Github
  %p
    %a.btn.btn-primary.btn-large Learn more &raquo;
.row
  .span4
    %h2 Languages
    %p Our API wrappers are written in Ruby, Python and PHP
  .span4
    %h2 Contributing
    %p Checkout Code for America on Github - <a href="https://www.github.com/codeforamerica">https://www.github.com/codeforamerica</a>
  .span4
    %h2 Language Break Down
    %ul
      %li Ruby 10
      %li Python 10
      %li PHP
